@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@400;700;900&display=swap");

/* ---------------------
        VARIABLES
--------------------- */
:root {
  /* FONT FAMILIES */
  --ff-serif: "Fraunces", serif;
  --ff-sans-serif: "Barlow", sans-serif;

  /* FONT SIZES */

  /* FONT WEIGHTS */
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  /* COLORS */
  --clr-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-cyan: hsl(168, 34%, 41%);
  --clr-cyan-desaturated: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);

  /* GRAYS */
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(210, 4%, 67%);
  --clr-dark-gray: hsl(232, 10%, 55%);
  --clr-darker-gray: hsl(213, 9%, 39%);
  --clr-darkest-grey: hsl(212, 27%, 19%);
}

/* ---------------------
        RESETS
--------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: inherit;
}

/* ---------------------
        DEFAULTS
--------------------- */
body {
  font-family: var(--ff-sans-serif);
  font-size: 1.8rem;
  font-weight: var(--fw-600);
}

/* Images */
image,
picture {
  max-width: 100%;
  display: block;
}

/* ---------------------
        HEADER SECTION
--------------------- */
.primary-header {
  position: fixed;
  width: 100%;
  padding: 3.2rem 4.8rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.nav-link a {
  text-decoration: none;
  color: var(--clr-white);
}

.contact-link a {
  font-family: var(--ff-serif);
  text-transform: uppercase;
  background-color: var(--clr-white);
  color: var(--clr-dark-blue);
  padding: 1.8rem 3.2rem;
  border-radius: 10rem;
}

.contact-link a:hover,
.contact-link a:active {
  color: var(--clr-white);
  background-color: rgba(255, 255, 255, 0.488);
}

/* ---------------------
        HERO SECTION
--------------------- */
.hero {
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 29%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  transform: translateX(-50%);
}

.hero h1 {
  font-family: var(--ff-serif);
  font-weight: var(--fw-900);
  font-size: 6.2rem;
  font-size: clamp(4.4rem, 5vw, 5rem);
  text-transform: uppercase;
  color: var(--clr-white);
  letter-spacing: 1rem;
  text-align: center;
}

/* ---------------------
        ABOUT SECTION
--------------------- */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.about-content {
  padding: 12rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about-content h2 {
  font-family: var(--ff-serif);
  font-size: 4.8rem;
}

.about-content p {
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.6rem;
  color: var(--clr-dark-gray);
}

.about-btn-container {
  width: 13rem;
  text-align: center;
  position: relative;
}

.about-btn-container a {
  color: var(--clr-darkest-gray);
  font-family: var(--ff-serif);
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.about-btn-container .underline {
  height: 8px;
  width: 13rem;
  border-radius: 10px;
  opacity: 0.2;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.about-btn-container .underline-yellow {
  background-color: var(--clr-yellow);
}

.about-btn-container .underline-red {
  background-color: var(--clr-red);
}
.about-btn-container .underline:hover {
  opacity: 0.5;
}

.about-image-container {
  margin: 0;
}

.about-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------
        SERVICES SECTION
--------------------- */
.services {
  height: 60.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.service-item {
  padding: 0 15rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5rem;

  /* Background Image properties */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.service-item.graphic-design {
  color: var(--clr-cyan-desaturated);
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.service-item.photography {
  background-image: url("../images/desktop/image-photography.jpg");
  color: var(--clr-dark-blue);
}

.service-item h3 {
  font-family: var(--ff-serif);
  font-size: 3rem;
}

.service-item p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
}

/* ---------------------
        TESTIMONIALS SECTION
--------------------- */
.testimonials {
  padding: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.testimonials h4 {
  font-family: var(--ff-serif);
  text-transform: uppercase;
  letter-spacing: 1rem;

  color: var(--clr-gray);
}

.testimonial-items {
  display: flex;
  gap: 3rem;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}

.testimonial-item img {
  height: 7rem;
  border-radius: 50%;
}

.testimonial-item p {
  color: var(--clr-darker-gray);
  font-weight: 400;
  line-height: 1.8;
}

.testimonial-author h5 {
  font-family: var(--ff-serif);
  margin-bottom: 1rem;
}

.testimonial-author p {
  font-size: 1.2rem;
  color: var(--clr-dark-gray);
}
